p {
	line-height: 140%;
}

html {
	background: #222222;
	color: white;
}
a {
	color: white;
}

a:hover {
	color: #444444;
}

#cnvs {

}

#cnvs-container {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}